<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdministradorController</servlet-name>
        <servlet-class>cursos.presentation.administrador.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoAdmiController</servlet-name>
        <servlet-class>cursos.presentation.administrador.grupo.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoAdmiController</servlet-name>
        <servlet-class>cursos.presentation.administrador.curso.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorAdmiController</servlet-name>
        <servlet-class>cursos.presentation.administrador.profesor.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministradorController</servlet-name>
        <url-pattern>/presentation/administrador/cursos/show</url-pattern>
        <url-pattern>/presentation/administrador/profesores/show</url-pattern>
        <url-pattern>/presentation/administrador/cursos/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoAdmiController</servlet-name>
        <url-pattern>/presentation/administrador/grupos/show</url-pattern>
        <url-pattern>/presentation/administrador/grupos/create/show</url-pattern>
        <url-pattern>/presentation/administrador/grupos/create/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoAdmiController</servlet-name>
        <url-pattern>/presentation/administrador/cursos/create/show</url-pattern>
        <url-pattern>/presentation/administrador/cursos/create/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorAdmiController</servlet-name>
        <url-pattern>/presentation/administrador/profesor/create/show</url-pattern>
        <url-pattern>/presentation/administrador/profesor/create/create</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
